<div class="container text-white text-center pb-5 pt-3">
    <h3>Welcome to</h3>
    <h1>The ZEN BANK</h1>
</div>

<div class="container text-white mb-5">
    <div class="col-12 col-lg-12 col-sm-12 d-grid gap-3 text-center px-5">
        <button type="button" routerLink="/accounts" class="btn btn-outline-light rounded-0 fs-4">Account Management</button>
        <button type="button" routerLink="/users" class="btn btn-outline-light rounded-0 fs-4">User Management</button>
        <button type="button" routerLink="/transfer" class="btn btn-outline-light rounded-0 fs-4">Money Trnsaction</button>
        <button type="button" routerLink="/deposit-money" class="btn btn-outline-light rounded-0 fs-4">Money Deposit</button>
        <button type="button" routerLink="/withdraw-money" class="btn btn-outline-light rounded-0 fs-4">Money Withdraw</button>
    </div>
</div>